
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url('https://elgourmet.s3.amazonaws.com/recetas/cover/1541ed32f2096258878b133fb9b170dd_3_3_photo.png');
    }

    h1 {
      color: tomato;
    }

    image {
      width: 400px;
    }

    #thirdDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 600px;
      background-color: tomato;
      padding: 50px;
      border: 1px solid white;
    }

    .divClass {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #spanId {
      font-size: 18px;
      margin: 50px;
    }